<div class="ember-view user-stream" id="ember1980"> 
           <div class="ember-view item" id="ember1981"> 
            <div class="clearfix info"> 
             <a data-user-card="carocean" href="/users/carocean" class="avatar-link"> 
              <div class="avatar-wrapper"> 
               <img height="45" width="45" title="carocean" class="avatar actor" src="//7xjtzg.com1.z0.glb.clouddn.com/letter_avatar_proxy/v2/letter/c/71e660/90.png" alt=""> 
              </div></a> 
             <span class="time"><span data-format="medium" data-time="1474462838664" title="2016年9月月21日 9:00晚上" class="relative-date date">50分钟</span></span> 
             <div class="ember-view topic-statuses" id="ember1982"></div> 
             <span class="title"> <a href="/t/topic/7787/6">History API 无刷新更改地址栏</a> </span> 
             <div class="category"> 
              <a href="/c/fen-xiang" class="badge-wrapper bar"><span style="background-color: #92278F;" class="badge-category-bg"></span><span class="badge-category clear-badge" data-drop-close="true" style="color: #FFFFFF;">分享</span></a> 
             </div> 
             <!----> 
            </div> 
            <!----> 
            <p data-user-id="6213" data-post-id="16825" data-topic-id="7787" class="excerpt">就是</p> 
            <!----> 
           </div> 
           <div class="ember-view item" id="ember1985"> 
            <div class="clearfix info"> 
             <a data-user-card="carocean" href="/users/carocean" class="avatar-link"> 
              <div class="avatar-wrapper"> 
               <img height="45" width="45" title="carocean" class="avatar actor" src="//7xjtzg.com1.z0.glb.clouddn.com/letter_avatar_proxy/v2/letter/c/71e660/90.png" alt=""> 
              </div></a> 
             <span class="time"><span data-format="medium" data-time="1474462060220" title="2016年9月月21日 8:47晚上" class="relative-date date">1小时</span></span> 
             <div class="ember-view topic-statuses" id="ember1986"></div> 
             <span class="title"> <a href="/t/react/8152/4">React数据流和通讯库</a> </span> 
             <div class="category"> 
              <a href="/c/15-category" class="badge-wrapper bar"><span style="background-color: #3AB54A;" class="badge-category-bg"></span><span title="如果有作品, 可以在这里展示 " class="badge-category clear-badge" data-drop-close="true" style="color: #FFFFFF;">作品</span></a> 
             </div> 
             <!----> 
            </div> 
            <!----> 
            <p data-user-id="6213" data-post-id="16824" data-topic-id="8152" class="excerpt">bb</p> 
            <!----> 
           </div> 
           <div class="ember-view item" id="ember1989"> 
            <div class="clearfix info"> 
             <a data-user-card="carocean" href="/users/carocean" class="avatar-link"> 
              <div class="avatar-wrapper"> 
               <img height="45" width="45" title="carocean" class="avatar actor" src="//7xjtzg.com1.z0.glb.clouddn.com/letter_avatar_proxy/v2/letter/c/71e660/90.png" alt=""> 
              </div></a> 
             <span class="time"><span data-format="medium" data-time="1474462043392" title="2016年9月月21日 8:47晚上" class="relative-date date">1小时</span></span> 
             <div class="ember-view topic-statuses" id="ember1990"></div> 
             <span class="title"> <a href="/t/react/8152/3">React数据流和通讯库</a> </span> 
             <div class="category"> 
              <a href="/c/15-category" class="badge-wrapper bar"><span style="background-color: #3AB54A;" class="badge-category-bg"></span><span title="如果有作品, 可以在这里展示 " class="badge-category clear-badge" data-drop-close="true" style="color: #FFFFFF;">作品</span></a> 
             </div> 
             <!----> 
            </div> 
            <!----> 
            <p data-user-id="6213" data-post-id="16823" data-topic-id="8152" class="excerpt">esss</p> 
            <!----> 
           </div> 
           <div class="ember-view item" id="ember1993"> 
            <div class="clearfix info"> 
             <a data-user-card="carocean" href="/users/carocean" class="avatar-link"> 
              <div class="avatar-wrapper"> 
               <img height="45" width="45" title="carocean" class="avatar actor" src="//7xjtzg.com1.z0.glb.clouddn.com/letter_avatar_proxy/v2/letter/c/71e660/90.png" alt=""> 
              </div></a> 
             <span class="time"><span data-format="medium" data-time="1474462022401" title="2016年9月月21日 8:47晚上" class="relative-date date">1小时</span></span> 
             <div class="ember-view topic-statuses" id="ember1994"></div> 
             <span class="title"> <a href="/t/react/8152/2">React数据流和通讯库</a> </span> 
             <div class="category"> 
              <a href="/c/15-category" class="badge-wrapper bar"><span style="background-color: #3AB54A;" class="badge-category-bg"></span><span title="如果有作品, 可以在这里展示 " class="badge-category clear-badge" data-drop-close="true" style="color: #FFFFFF;">作品</span></a> 
             </div> 
             <!----> 
            </div> 
            <!----> 
            <p data-user-id="6213" data-post-id="16822" data-topic-id="8152" class="excerpt">as</p> 
            <!----> 
           </div> 
           <div class="ember-view item" id="ember1997"> 
            <div class="clearfix info"> 
             <a data-user-card="carocean" href="/users/carocean" class="avatar-link"> 
              <div class="avatar-wrapper"> 
               <img height="45" width="45" title="carocean" class="avatar actor" src="//7xjtzg.com1.z0.glb.clouddn.com/letter_avatar_proxy/v2/letter/c/71e660/90.png" alt=""> 
              </div></a> 
             <span class="time"><span data-format="medium" data-time="1474388515522" title="2016年9月月21日 12:21凌晨" class="relative-date date">21小时</span></span> 
             <div class="ember-view topic-statuses" id="ember1998"></div> 
             <span class="title"> <a href="/t/topic/7787/5">关于组件化框架与非组件化框架的选型问题讨论</a> </span> 
             <div class="category"> 
              <a href="/c/fen-xiang" class="badge-wrapper bar"><span style="background-color: #92278F;" class="badge-category-bg"></span><span class="badge-category clear-badge" data-drop-close="true" style="color: #FFFFFF;">分享</span></a> 
             </div> 
             <!----> 
            </div> 
            <!----> 
            <p data-user-id="6213" data-post-id="16759" data-topic-id="7787" class="excerpt">j kb</p> 
            <!----> 
           </div> 
           <div class="ember-view item" id="ember2001"> 
            <div class="clearfix info"> 
             <a data-user-card="carocean" href="/users/carocean" class="avatar-link"> 
              <div class="avatar-wrapper"> 
               <img height="45" width="45" title="carocean" class="avatar actor" src="//7xjtzg.com1.z0.glb.clouddn.com/letter_avatar_proxy/v2/letter/c/71e660/90.png" alt=""> 
              </div></a> 
             <span class="time"><span data-format="medium" data-time="1474123667205" title="2016年9月月17日 10:47晚上" class="relative-date date">3日</span></span> 
             <div class="ember-view topic-statuses" id="ember2002"></div> 
             <span class="title"> <a href="/t/topic/7787/4">关于组件化框架与非组件化框架的选型问题讨论</a> </span> 
             <div class="category"> 
              <a href="/c/fen-xiang" class="badge-wrapper bar"><span style="background-color: #92278F;" class="badge-category-bg"></span><span class="badge-category clear-badge" data-drop-close="true" style="color: #FFFFFF;">分享</span></a> 
             </div> 
             <!----> 
            </div> 
            <!----> 
            <p data-user-id="6213" data-post-id="16610" data-topic-id="7787" class="excerpt">对哦</p> 
            <!----> 
           </div> 
           <div class="ember-view item" id="ember2005"> 
            <div class="clearfix info"> 
             <a data-user-card="carocean" href="/users/carocean" class="avatar-link"> 
              <div class="avatar-wrapper"> 
               <img height="45" width="45" title="carocean" class="avatar actor" src="//7xjtzg.com1.z0.glb.clouddn.com/letter_avatar_proxy/v2/letter/c/71e660/90.png" alt=""> 
              </div></a> 
             <span class="time"><span data-format="medium" data-time="1473166596396" title="2016年9月月6日 8:56晚上" class="relative-date date">9月6日</span></span> 
             <div class="ember-view topic-statuses" id="ember2006"></div> 
             <span class="title"> <a href="/t/react-china/7835/3">各位，问一下，react-china社区论坛源码在哪能下载啊？</a> </span> 
             <div class="category"> 
              <!----> 
             </div> 
             <!----> 
            </div> 
            <!----> 
            <p data-user-id="6213" data-post-id="16198" data-topic-id="7835" class="excerpt">谢了</p> 
            <!----> 
           </div> 
           <div class="ember-view item" id="ember2009"> 
            <div class="clearfix info"> 
             <a data-user-card="carocean" href="/users/carocean" class="avatar-link"> 
              <div class="avatar-wrapper"> 
               <img height="45" width="45" title="carocean" class="avatar actor" src="//7xjtzg.com1.z0.glb.clouddn.com/letter_avatar_proxy/v2/letter/c/71e660/90.png" alt=""> 
              </div></a> 
             <span class="time"><span data-format="medium" data-time="1473165075153" title="2016年9月月6日 8:31晚上" class="relative-date date">9月6日</span></span> 
             <div class="ember-view topic-statuses" id="ember2010"></div> 
             <span class="title"> <a href="/t/react-china/7835">各位，问一下，react-china社区论坛源码在哪能下载啊？</a> </span> 
             <div class="category"> 
              <!----> 
             </div> 
             <!----> 
            </div> 
            <!----> 
            <p data-user-id="6213" data-post-id="" data-topic-id="7835" class="excerpt">如题。发现这个论坛做得非常细，很好用，想用一下</p> 
            <!----> 
           </div> 
           <div class="ember-view item" id="ember2013"> 
            <div class="clearfix info"> 
             <a data-user-card="carocean" href="/users/carocean" class="avatar-link"> 
              <div class="avatar-wrapper"> 
               <img height="45" width="45" title="carocean" class="avatar actor" src="//7xjtzg.com1.z0.glb.clouddn.com/letter_avatar_proxy/v2/letter/c/71e660/90.png" alt=""> 
              </div></a> 
             <span class="time"><span data-format="medium" data-time="1473164351691" title="2016年9月月6日 8:19晚上" class="relative-date date">9月6日</span></span> 
             <div class="ember-view topic-statuses" id="ember2014"></div> 
             <span class="title"> <a href="/t/topic/7787/3">关于组件化框架与非组件化框架的选型问题讨论</a> </span> 
             <div class="category"> 
              <a href="/c/fen-xiang" class="badge-wrapper bar"><span style="background-color: #92278F;" class="badge-category-bg"></span><span class="badge-category clear-badge" data-drop-close="true" style="color: #FFFFFF;">分享</span></a> 
             </div> 
             <!----> 
            </div> 
            <!----> 
            <p data-user-id="6213" data-post-id="16194" data-topic-id="7787" class="excerpt">好，这东西不错啊</p> 
            <!----> 
           </div> 
           <div class="ember-view item" id="ember2017"> 
            <div class="clearfix info"> 
             <a data-user-card="carocean" href="/users/carocean" class="avatar-link"> 
              <div class="avatar-wrapper"> 
               <img height="45" width="45" title="carocean" class="avatar actor" src="//7xjtzg.com1.z0.glb.clouddn.com/letter_avatar_proxy/v2/letter/c/71e660/90.png" alt=""> 
              </div></a> 
             <span class="time"><span data-format="medium" data-time="1473047497011" title="2016年9月月5日 11:51中午" class="relative-date date">9月5日</span></span> 
             <div class="ember-view topic-statuses" id="ember2018"></div> 
             <span class="title"> <a href="/t/topic/7787/2">关于组件化框架与非组件化框架的选型问题讨论</a> </span> 
             <div class="category"> 
              <a href="/c/fen-xiang" class="badge-wrapper bar"><span style="background-color: #92278F;" class="badge-category-bg"></span><span class="badge-category clear-badge" data-drop-close="true" style="color: #FFFFFF;">分享</span></a> 
             </div> 
             <!----> 
            </div> 
            <!----> 
            <p data-user-id="6213" data-post-id="16102" data-topic-id="7787" class="excerpt"> 文中的例程引用： <a rel="nofollow" target="_blank" class="onebox" href="http://www.github.com/carocean/lns">http://www.github.com/carocean/lns</a> <a rel="nofollow" target="_blank" class="onebox" href="http://www.cjlns.com">http://www.cjlns.com</a> java竟然能用js开发网页，而且与nodejs的语法一样，太神奇了 </p> 
            <!----> 
           </div> 
           <div class="ember-view item" id="ember2021"> 
            <div class="clearfix info"> 
             <a data-user-card="carocean" href="/users/carocean" class="avatar-link"> 
              <div class="avatar-wrapper"> 
               <img height="45" width="45" title="carocean" class="avatar actor" src="//7xjtzg.com1.z0.glb.clouddn.com/letter_avatar_proxy/v2/letter/c/71e660/90.png" alt=""> 
              </div></a> 
             <span class="time"><span data-format="medium" data-time="1473047404051" title="2016年9月月5日 11:50中午" class="relative-date date">9月5日</span></span> 
             <div class="ember-view topic-statuses" id="ember2022"></div> 
             <span class="title"> <a href="/t/topic/7787">关于组件化框架与非组件化框架的选型问题讨论</a> </span> 
             <div class="category"> 
              <a href="/c/fen-xiang" class="badge-wrapper bar"><span style="background-color: #92278F;" class="badge-category-bg"></span><span class="badge-category clear-badge" data-drop-close="true" style="color: #FFFFFF;">分享</span></a> 
             </div> 
             <!----> 
            </div> 
            <!----> 
            <p data-user-id="6213" data-post-id="" data-topic-id="7787" class="excerpt"> 在界面微调时，ext，reactjs这些组件化框架，你根本没法调 李立年 10:47:00 我的页面操作，都是jquery的 C.J 10:48:05 嗯，我还是便向于jquery，页面框架不能定成一些组件，除非是开发手机应用，需要框架生成基本的场景 李立年 10:48:46 恩 C.J 10:51:33 咱举个例子 C.J 10:52:31 你比如说我现在想这么展示一个界面 C.J 10:52:43 [文件: 屏幕快照 2016-09-05 10.52.05.png] 10:53:00 对方已成功接收文件“屏幕快照 2016-09-05 10.52.05.png” <a title="屏幕快照 2016-09-05 10.52.05.png" class="lightbox" href="//7xjtzg.com1.z0.glb.clouddn.com/uploads/default/original/2X/0/0c7153017d4672abbf6d72ef38b1449d689da487.png" data-download-href="//7xjtzg.com1.z0.glb.clouddn.com/uploads/default/0c7153017d4672abbf6d72ef38b1449d689da487">[图片]</a> C… </p> 
            <!----> 
           </div> 
          </div> 