<link href="/css/dynamic.css" rel="stylesheet">
<script src="/js/dynamic.js" type="text/javascript">
	
</script>
<style>
<!--
-->
</style>
<div class="dynamic">
	<div class="dynamic-wrap">
		<div class="tool-bar">
			<ul class="tool-tabs">
				<li class="tool-tab update-state tab-selected"><i
					class="fa fa-pied-piper" aria-hidden="true"></i>
					<button class="share spot">分享状态</button></li>
				<li class="tool-tab upload-pic"><i class="fa fa-picture-o"
					aria-hidden="true"></i><label for="tool-upload-pic"
					class="upload spot ">上传图片</label></li>
				<li class="tool-tab write-article"><i class="fa fa-leanpub"
					aria-hidden="true"></i><a href="/post/editor.html"
					class="upload spot ">写主题</a></li>
			</ul>
			<div class="tool-panel">
				<textarea rows="" cols="" placeholder="你有什么想法？按回车键上屏"></textarea>
				<label class="upload-pic" for="tool-upload-pic" title="上传图片"><i
					class="fa fa-picture-o" aria-hidden="true"></i></label> <input
					style="display: none;" id="tool-upload-pic" name="tool-upload-pic"
					type="file">
			</div>
			<div class="tool-pic-box clearfix">
				<div class="tool-pic">
					<img src="/img/1.jpg"> <span class="tool-pic-loading"
						style="display: none;">loading...</span>
				</div>
				<div class="tool-filename" style="display: none;">
					<p class="filename">
						<span>706277fe5c5438c6b38bc0c317c84e93.jpg </span>
					</p>
					<p class="pixels">1366px × 768px</p>
				</div>
				<span class="tool-pic-del">X</span>

			</div>
		</div>
		<div class="dynamic-tips">
			<a href=""><span class="count">0</span><span class="label">个新动态</span></a>
		</div>
		<div class="dynamic-info">
			<ul class="dynamic-info-ul">
				<li class="dynamic-info-li feed-update">
					<div class="info-face">
						<a href="#"><img src="/img/1.png"></a>
						<p class="timestamp">
							<span>9:30</span>
						</p>
					</div>
					<div class="info-body">
						<div class="header">
							<div class="meta" data-block="meta">
								<a href="#" class="views"><i class="fa fa-eye"
									aria-hidden="true"></i>浏览<span count>100</span></a>
							</div>
							<h3 class="headline single-line">
								<a
									href="http://www.linkedin.com/profile/view?id=AAMAAB2jcwgBxKfCvl437ntwG74-FjGdB2o0Q9I&amp;authType=name&amp;authToken=JEJq&amp;trk=hp-feed-member-name"
									class="miniprofile new-miniprofile-container name">Sunny
									Jin</a><span class="nick">x</span>
								<div class="title-container">
									<a
										href="http://www.linkedin.com/profile/view?id=AAMAAB2jcwgBxKfCvl437ntwG74-FjGdB2o0Q9I&amp;authType=name&amp;authToken=JEJq&amp;trk=hp-feed-member-name"
										class="title">Shanghai Beststeel Steel Structure Building
										System Co.,Ltd.</a>
								</div>
							</h3>
						</div>
						<div class="text-entity">
							<p>中国日报网11月11日电
								美国大选结果出炉后，希拉里·克林顿为什么等到第二天中午才发表败选演讲？据美国保守派网站“Red
								State”11月10日报道，希拉里当晚情绪崩溃，她一边嚎啕大哭、一边怪责总统奥巴马和联邦调查局（FBI）局长詹姆斯·科米是导致其总统梦碎的罪魁祸首</p>
						</div>
						<div class="shared-image">
							<a class="expanding-image"
								href="https://image-store.slidesharecdn.com/d2680827-c4ce-41b2-872b-3f59489ee9d2-large.jpeg"><img
								alt=""
								src="https://image-store.slidesharecdn.com/d2680827-c4ce-41b2-872b-3f59489ee9d2-large.jpeg"></a>
						</div>
						<ul class="actions" data-block="actions">
							<li><button class="like">
									<span aria-hidden="true">赞</span><span
										class="accessibility-text">Like Sunny Jin’s update</span>
								</button></li>
							<li><button class="comment" data-block="comment"
									data-trk="comment">
									<span aria-hidden="true">评论</span><span
										class="accessibility-text">Comment on Sunny Jin’s
										update</span>
								</button></li>
							<li><button class="delete" data-block=""
									delete""
									data-trk=""delete"">
									<span aria-hidden="true">删除</span><span
										class="accessibility-text">delete Sunny Jin’s update</span>
								</button></li>
						</ul>
						<span class="likes social-summary"
							data-block="likes-social-summary" data-trk="likes-social-summary"
							data-count="10"><button class="count">
								<i class="fa fa-thumbs-o-up" aria-hidden="true"></i> <span
									aria-hidden="true">10</span><span
									class="social-screenreader-text">10 people like Sunny
									Jin’s update.</span>
							</button></span> <span class="comments social-summary"
							data-block="comments-social-summary" data-type="comments"
							data-count="1"><button class="count" data-url=""
								disabled="">
								<i class="fa fa-commenting" aria-hidden="true"></i> <span
									aria-hidden="true">1</span><span
									class="social-screenreader-text">1 comment.</span>
							</button></span>
						<div class="comment-list  allow-overflow"
							data-block="comment-list">
							<ol class="comment-threads">
								<li class="comment-thread"><a class="user-face" href="#"><img
										src="/img/1.png"></a>
									<div class="thread-body">
										<a class="user-name" href="#">Carocean</a><span
											class="timestamp">9:28</span>
										<div class="thread-cnt">
											<p>河北保定蠡县中孟尝村6岁男童聪聪坠井107小时后，被救援人员从井里抱出。今日凌晨，新京报记者从亲属及现场医生处确认，聪聪已死亡。这场救援自11月6日上午11时展开。当时，聪聪跟着父亲在地里收白菜时，不慎掉落40米深的枯井中，家属立即报警。当地随即开展救援工作，先后启用百余辆挖掘设备，期间救援队伍曾多次更改救援方案。</p>
										</div>
										<div class="thread-actions">
											<button class="reply" data-block="reply" data-trk="reply">
												<i class="fa fa-commenting" aria-hidden="true"></i><span
													aria-hidden="true">回复</span><span
													class="accessibility-text">Reply to ’s comment</span>
											</button>
											<button class="delete-comment">
												<i class="fa fa-commenting" aria-hidden="true"></i><span
													aria-hidden="true">删除</span><span
													class="accessibility-text">delete to ’s comment</span>
											</button>
										</div>
									</div>
									<ul class="follow-ul">
										<li class="follow-li"><a class="user-face" href="#"><img
												src="/img/1.png"></a>
											<div class="follow-body">
												<a href="#" class="user-name" who>carocean</a> <span
													class="timestamp">9:28</span> <span label>对</span> <a
													href="#" class="user-name" reply>wuy</a> <span label>说:</span>
												<div class="thread-cnt">
													<p>用百余辆挖掘设备，期间救援队伍曾多次更改救援方案。</p>
												</div>
												<div class="thread-actions">
													<button class="reply" data-block="reply" data-trk="reply">
														<i class="fa fa-commenting" aria-hidden="true"></i><span
															aria-hidden="true">回复</span><span
															class="accessibility-text">Reply to ’s comment</span>
													</button>
													<button class="delete-comment">
														<i class="fa fa-commenting" aria-hidden="true"></i><span
															aria-hidden="true">删除</span><span
															class="accessibility-text">delete to ’s comment</span>
													</button>
												</div>
											</div></li>
										<li class="follow-li"><a class="user-face" href="#"><img
												src="/img/1.png"></a>
											<div class="follow-body">
												<span class="timestamp">9:28</span>
												<div class="thread-cnt">
													<p>吃了啊</p>
												</div>
												<div class="thread-actions">
													<button class="reply" data-block="reply" data-trk="reply">
														<i class="fa fa-commenting" aria-hidden="true"></i><span
															aria-hidden="true">回复</span><span
															class="accessibility-text">Reply to ’s comment</span>
													</button>
													<button class="delete-comment" data-block="delete"
														data-trk="delete">
														<i class="fa fa-commenting" aria-hidden="true"></i><span
															aria-hidden="true">删除</span><span
															class="accessibility-text">delete to ’s comment</span>
													</button>
												</div>
											</div></li>
									</ul></li>
								<li class="comment-thread"><a class="user-face" href="#"><img
										src="/img/1.png"></a>
									<div class="thread-body">
										<a class="user-name" href="#">Carocean</a><span
											class="timestamp">9:28</span>
										<div class="thread-cnt">
											<p>当地随即开展救援工作，先后启用百余辆挖掘设备，期间救援队伍曾多次更改救援方案。</p>
										</div>
										<div class="thread-actions">
											<button class="reply" data-block="reply" data-trk="reply">
												<i class="fa fa-commenting" aria-hidden="true"></i><span
													aria-hidden="true">回复</span><span
													class="accessibility-text">Reply to ’s comment</span>
											</button>
										</div>
									</div>
									<ul class="follow-ul">
										<li class="follow-li"><a class="user-face" href="#"><img
												src="/img/1.png"></a>
											<div class="follow-body">
												<span class="timestamp">9:28</span>
												<div class="thread-cnt">
													<p>用百余辆挖掘设备，期间救援队伍曾多次更改救援方案。</p>
												</div>
												<div class="thread-actions">
													<button class="reply" data-block="reply" data-trk="reply">
														<i class="fa fa-commenting" aria-hidden="true"></i><span
															aria-hidden="true">回复</span><span
															class="accessibility-text">Reply to ’s comment</span>
													</button>
												</div>
											</div></li>
										<li class="follow-li"><a class="user-face" href="#"><img
												src="/img/1.png"></a>
											<div class="follow-body">
												<span class="timestamp">9:28</span>
												<div class="thread-cnt">
													<p>吃了啊</p>
												</div>
												<div class="thread-actions">
													<button class="reply" data-block="reply" data-trk="reply">
														<i class="fa fa-commenting" aria-hidden="true"></i><span
															aria-hidden="true">回复</span><span
															class="accessibility-text">Reply to ’s comment</span>
													</button>
												</div>
											</div></li>
									</ul></li>
							</ol>
						</div>
						<div class="comment-box">
							<textarea rows="" cols="" placeholder="输入评论，回车键上屏"></textarea>
						</div>
					</div>
				</li>
				<li class="dynamic-info-li feed-update">
					<div class="info-face">
						<a href="#"><img src="/img/1.png"></a>
						<p class="timestamp">
							<span>9:30</span>
						</p>
					</div>
					<div class="info-body">
						<div class="header">
							<div class="meta" data-block="meta">
								<a href="#" class="views"><i class="fa fa-eye"
									aria-hidden="true"></i>浏览<span count="">100</span></a>
							</div>
							<h3 class="headline single-line">
								<a
									href="http://www.linkedin.com/profile/view?id=AAMAAB2jcwgBxKfCvl437ntwG74-FjGdB2o0Q9I&amp;authType=name&amp;authToken=JEJq&amp;trk=hp-feed-member-name"
									class="miniprofile new-miniprofile-container name">Sunny
									Jin</a>
								<div class="title-container">
									<a
										href="http://www.linkedin.com/profile/view?id=AAMAAB2jcwgBxKfCvl437ntwG74-FjGdB2o0Q9I&amp;authType=name&amp;authToken=JEJq&amp;trk=hp-feed-member-name"
										class="title">Shanghai Beststeel Steel Structure Building
										System Co.,Ltd.</a>
								</div>
							</h3>
						</div>
						<div class="text-entity">
							<p>中国日报网11月11日电
								美国大选结果出炉后，希拉里·克林顿为什么等到第二天中午才发表败选演讲？据美国保守派网站“Red
								State”11月10日报道，希拉里当晚情绪崩溃，她一边嚎啕大哭、一边怪责总统奥巴马和联邦调查局（FBI）局长詹姆斯·科米是导致其总统梦碎的罪魁祸首</p>
						</div>
						<ul class="actions" data-block="actions">
							<li><button class="like">
									<span aria-hidden="true">赞</span><span
										class="accessibility-text">Like Sunny Jin’s update</span>
								</button></li>
							<li><button class="comment" data-block="comment"
									data-trk="comment">
									<span aria-hidden="true">评论</span><span
										class="accessibility-text">Comment on Sunny Jin’s
										update</span>
								</button></li>
							<li><button class="share" data-block="share"
									data-href="http://www.linkedin.com/sharing/reshare?entityType=SHARE&amp;entityId=6202023105175621632&amp;activityId=6202023105133666304&amp;reshareActivityId=6202023105133666304&amp;noYUI=true&amp;inlineAssets=true&amp;trk=ONSITE_OZ_RESHARE"
									data-trk="share">
									<span aria-hidden="true">分享</span><span
										class="accessibility-text">Share Sunny Jin’s update</span>
								</button></li>
						</ul>
						<span class="likes social-summary"
							data-block="likes-social-summary" data-trk="likes-social-summary"
							data-count="10"><button class="count"
								data-href="/hp/modules/likers-modal/fetchData?objectId=activity%3A6202023105133666304&amp;viewerId=member%3A534432097&amp;actorId=member%3A534432097&amp;count=10&amp;offset=0">
								<i class="fa fa-thumbs-o-up" aria-hidden="true"></i> <span
									aria-hidden="true">10</span><span
									class="social-screenreader-text">10 people like Sunny
									Jin’s update.</span>
							</button></span> <span class="comments social-summary"
							data-block="comments-social-summary" data-type="comments"
							data-count="1"><button class="count" data-url=""
								disabled="">
								<i class="fa fa-commenting" aria-hidden="true"></i> <span
									aria-hidden="true">1</span><span
									class="social-screenreader-text">1 comment.</span>
							</button> <span class="loading hidden"></span></span>
						<div class="comment-list  allow-overflow"
							data-block="comment-list">
							<ol class="comment-threads">
								<li class="comment-thread"><a class="user-face" href="#"><img
										src="/img/1.png"></a>
									<div class="thread-body">
										<a class="user-name" href="#">Carocean</a><span
											class="timestamp">9:28</span>
										<div class="thread-cnt">
											<p>河北保定蠡县中孟尝村6岁男童聪聪坠井107小时后，被救援人员从井里抱出。今日凌晨，新京报记者从亲属及现场医生处确认，聪聪已死亡。这场救援自11月6日上午11时展开。当时，聪聪跟着父亲在地里收白菜时，不慎掉落40米深的枯井中，家属立即报警。当地随即开展救援工作，先后启用百余辆挖掘设备，期间救援队伍曾多次更改救援方案。</p>
										</div>
										<div class="thread-actions">
											<button class="reply" data-block="reply" data-trk="reply">
												<i class="fa fa-commenting" aria-hidden="true"></i><span
													aria-hidden="true">回复</span><span
													class="accessibility-text">Reply to ’s comment</span>
											</button>
										</div>
									</div>
									<ul class="follow-ul">
										<li class="follow-li"><a class="user-face" href="#"><img
												src="/img/1.png"></a>
											<div class="follow-body">
												<span class="timestamp">9:28</span>
												<div class="thread-cnt">
													<p>用百余辆挖掘设备，期间救援队伍曾多次更改救援方案。</p>
												</div>
												<div class="thread-actions">
													<button class="reply" data-block="reply" data-trk="reply">
														<i class="fa fa-commenting" aria-hidden="true"></i><span
															aria-hidden="true">回复</span><span
															class="accessibility-text">Reply to ’s comment</span>
													</button>
												</div>
											</div></li>
										<li class="follow-li"><a class="user-face" href="#"><img
												src="/img/1.png"></a>
											<div class="follow-body">
												<span class="timestamp">9:28</span>
												<div class="thread-cnt">
													<p>吃了啊</p>
												</div>
												<div class="thread-actions">
													<button class="reply" data-block="reply" data-trk="reply">
														<i class="fa fa-commenting" aria-hidden="true"></i><span
															aria-hidden="true">回复</span><span
															class="accessibility-text">Reply to ’s comment</span>
													</button>
												</div>
											</div></li>
									</ul></li>
								<li class="comment-thread"><a class="user-face" href="#"><img
										src="/img/1.png"></a>
									<div class="thread-body">
										<a class="user-name" href="#">Carocean</a><span
											class="timestamp">9:28</span>
										<div class="thread-cnt">
											<p>当地随即开展救援工作，先后启用百余辆挖掘设备，期间救援队伍曾多次更改救援方案。</p>
										</div>
										<div class="thread-actions">
											<button class="reply" data-block="reply" data-trk="reply">
												<i class="fa fa-commenting" aria-hidden="true"></i><span
													aria-hidden="true">回复</span><span
													class="accessibility-text">Reply to ’s comment</span>
											</button>
										</div>
									</div>
									<ul class="follow-ul">
										<li class="follow-li"><a class="user-face" href="#"><img
												src="/img/1.png"></a>
											<div class="follow-body">
												<span class="timestamp">9:28</span>
												<div class="thread-cnt">
													<p>用百余辆挖掘设备，期间救援队伍曾多次更改救援方案。</p>
												</div>
												<div class="thread-actions">
													<button class="reply" data-block="reply" data-trk="reply">
														<i class="fa fa-commenting" aria-hidden="true"></i><span
															aria-hidden="true">回复</span><span
															class="accessibility-text">Reply to ’s comment</span>
													</button>
												</div>
											</div></li>
										<li class="follow-li"><a class="user-face" href="#"><img
												src="/img/1.png"></a>
											<div class="follow-body">
												<span class="timestamp">9:28</span>
												<div class="thread-cnt">
													<p>吃了啊</p>
												</div>
												<div class="thread-actions">
													<button class="reply" data-block="reply" data-trk="reply">
														<i class="fa fa-commenting" aria-hidden="true"></i><span
															aria-hidden="true">回复</span><span
															class="accessibility-text">Reply to ’s comment</span>
													</button>
												</div>
											</div></li>
									</ul></li>
							</ol>
						</div>
						<div class="comment-box">
							<textarea rows="" cols="" placeholder="输入评论，回车键上屏"></textarea>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>