<style>
<!--
.likes {
	
}

.likes>.likes-count {
	margin-bottom: 10px;
	border-bottom: 1px solid red;
}

.likes>.likes-count>span {
	
}

.likes>.likes-count>span[label] {
	color: gray;
}

.likes>.likes-count>span[count] {
	padding-right: 15px;
}

.likes>.likes-msg {
	
}

.likes>.likes-msg>li {
	padding: 5px 0;
	padding-left: 5px;
	cursor: pointer;
}

.likes>.likes-msg>li:hover {
	background: #999;
	color: white;
}

.likes>.likes-msg>li img {
	width: 30px;
	height: 30px;
	vertical-align: middle;
	-moz-border-radius: 50%; /* Gecko browsers */
	-webkit-border-radius: 50%; /* Webkit browsers */
	border-radius: 50%; /* W3C syntax */
}

.likes>.likes-msg>li a {
	display: block;
}

.likes>.likes-msg>li a:hover {
	color: white;
}

.likes>.likes-msg>li span {
	vertical-align: middle;
	padding: 0 5px;
}
.likes>.likes-msg>li span[vtime]{
	font-size: 12px;
	color: gray;
}
.likes>.likes-msg>li span[label]{
	font-size: 12px;
	color: gray;
}
-->
</style>
<div class="likes">
	<div class="likes-count">
		<span label>共有：</span><span count>10人</span><span label>赞了</span>
	</div>
	<ul class="likes-msg">
		<li><a href="#" title=""><img
				alt="" src="/img/1.png"><span name>Carocean</span><span times>10次</span><span label>次</span><span vtime>时间</span></a></li>
		<li><a href="#" title=""><img
				alt="" src="/img/1.png"><span name>Carocean</span><span times>10次</span></a></li>
	</ul>
</div>