#workbin{
	display: none;
}
ol.category-breadcrumb {
	display: block;
	float: left;
	list-style: none;
	margin: 0 0 0 0;
	padding: 0;
}

ol.category-breadcrumb li {
	float: left;
	margin-right: 5px;
	margin-left: 6px;
}

.container .category-breadcrumb li.bar {
	cursor: pointer;
}


.container .category-breadcrumb li.bar>.badge-category {
	color: #222 !important;
	padding-left: 0;
	cursor: pointer;
}

.container .category-breadcrumb li.bar>.site-dropdown-button {
	padding-right: 4px;
	padding-left: 4px;
}

.container .category-breadcrumb li.bar>.badge-category:hover {
	color: #e45735 !important;
}

.container .category-breadcrumb a.badge-category {
	display: inline-block;
	padding: 5px 8px;
	line-height: 20px;
}

.container a.badge-category {
	padding: 3px 12px 3px 0;
	font-size: 1.143em;
}

.container .nav {
	float: left;
	margin: 6px 0 9px 10px;
	padding: 0;
}

.nav-pills, .nav-stacked {
	margin-left: 0;
	list-style: none;
}

.nav-pills>li>a {
	border: none;
	padding: 5px 12px;
	color: #222;
	font-size: 1.143em;
	line-height: 20px;
	transition: background .15s;
}

.nav-pills>li {
	float: left;
	margin-right: 5px;
	display: inline-block;
}

.nav-pills>li>a:hover {
	background: #e1e9ee;
	color: #e45735;
}

.nav-pills>li.active>a, .nav-pills>li>a.active {
	color: #fff;
	background-color: #e45735;
}

.phen-list>.container>.container .btn {
	float: right;
	margin-left: 8px;
	margin-bottom: 10px;
	font-size: 1.143em;
	font-weight: normal;
}

.btn {
	border: none;
	color: #222;
	font-weight: normal;
	background: #e9e9e9;
}

.btn {
	display: inline-block;
	margin: 0;
	padding: 6px 12px;
	font-weight: 500;
	font-size: 1em;
	line-height: 18px;
	text-align: center;
	cursor: pointer;
	transition: all .25s;
}

.btn:hover {
	background: #b2b2b2;
	color: #fff;
}

.container .site-menu {
	overflow-y: auto;
	position: absolute;
	background-color: #fff;
	z-index: 100;
	max-height: 350px;
	min-width: 131px;
	margin-top: 5px;
	margin-left: 0;
}

#ember28222 {
	clear: both;
}

.list-container {
	margin-top: 20px;
	padding-top: 10px;
	min-width: 800px;
	overflow: visible;
}

.list-container>.box {
	margin-left: -390px;
	float: left;
	width: 100%;
}

.list-container>.box>.table {
	margin-left: 400px;
}

.list-container>.box>.table>.row {
	margin: 20px 0 30px 0;
	border-bottom: 1px solid #ececec;
}
.list-container>.box>.table>.row>.cnt>.props{
	position: relative;
}
.list-container>.box>.table>.row>.cnt>.props>.abstracts {
	position: absolute;
	top:0;
	left:40px;
	right:160px;
	height:235px;
	text-align: left;
	text-indent: 2em;
	line-height: 30px;
	overflow: hidden;
	text-overflow:ellipsis;
	font-family:宋体,"Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu;
}
.list-container>.box>.table>.row>.cnt>.props>.abstracts .inner-img{
	display: block;
	width:auto;
	height:140px !important;
	text-align: center;
	text-indent: 0em;
}
.list-container>.box>.table>.row>.cnt>.props>.abstracts .inner-img>img{
	height: 100%;
	width:auto;
}
.list-container>.box>.table>.row>.pic>a {
	display: inline-block;
}

.list-container>.box>.table>.row>.pic>a>img {
	max-height: 160px;
	padding: 0 20px 10px 0;
}

.list-container>.box>.table>.row>.cnt>li {
	margin-bottom: 10px;
}

.list-container>.box>.table>.row>.cnt>.item>a {
	font-size: 24px;
	font-family: Helvetica, Arial, sans-serif;
	line-height: 36px;
}
.list-container>.box>.table>.row>.cnt>.item>a:hover{
	color: red;
}
.list-container>.box>.table>.row>.cnt>.props{
	text-align: right;
}
.list-container>.box>.table>.row .fields>li {
	/*float: left;*/
	margin-right: 15px;
	vertical-align: middle;
	line-height: 30px;
	font-size: 12px;
}

.list-container>.box>.table>.row .fields>li:first-child {
	border-left: 4px solid #B3B5B4;
	padding-left: 10px;
}

.list-container>.box>.table>.row .fields>li>a {
	display: inline-block;
	vertical-align: middle;
	margin: auto 5px;
	font-size: 12px !important;
}

.list-container>.box>.table>.row .fields>li>a>img {
	width: 25px;
	height: 25px;
	-moz-border-radius: 25px; /* Gecko browsers */
	-webkit-border-radius: 25px; /* Webkit browsers */
	border-radius: 25px; /* W3C syntax */
	border: 1px solid #fff;
}

.list-container>.box>.table>.row .fields>li>.label {
	color: gray;
	font-size: 12px;
}

.list-container>.category {
	float: right;
	/* padding-left: 10px; */
	max-width: 360px;
}

.list-container>.category>.portlet {
	margin-bottom: 25px;
}

.list-container>.category>.portlet>.title {
	border-left: 4px solid #3AB54A;
	padding-left: 10px;
	margin-bottom: 15px;
}

.list-container>.category>.portlet>.title>a {
	font-size: 14px;
	color: gray;
	text-decoration: underline;
}

.list-container>.category>.portlet>.let-content {
	padding-left: 10px;
}

.list-container>.category>.portlet>.let-content>.list>li {
	margin: 10px auto;
	padding-left: 10px;
	position: relative;
}
.list-container>.category>.portlet>.let-content>.list>li>.ahead>a>p{
	margin: 0;
}
.list-container>.category>.portlet>.let-content>.list>li>.ahead>a[views],
.list-container>.category>.portlet>.let-content>.list>li>.ahead>a[connects]{
	padding-right: 8px; 
	display: inline-block;
	color: gray;
}
.list-container>.category>.portlet>.let-content>.list>li>.ahead>a[views]:hover,
.list-container>.category>.portlet>.let-content>.list>li>.ahead>a[connects]:hover{
	fill:red;
}
.list-container>.category>.portlet>.let-content>.list>li>.ahead>a[views]>img,
.list-container>.category>.portlet>.let-content>.list>li>.ahead>a[connects]>img{
	width:12px;
	height: 12px;
	vertical-align: middle;
}
.list-container>.category>.portlet>.let-content>.list>li>a[htitle] {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	width: 300px;
	display: inline-block;
	vertical-align: middle;
	line-height: 26px;
}
.list-container>.category>.portlet>.let-content>.list>li>a:hover{
	color:red;
}
.show-more {
	width: 100%;
	z-index: 1;
}

.show-more.has-topics {
	margin-top: 24px;
}

.alert.alert-info.clickable {
	color: #08c;
	display: none;
}

.alert.alert-info {
	background-color: #d1f0ff;
	color: #222;
}

.alert {
	margin-bottom: 15px;
	padding: 8px 35px 8px 14px;
}

.clickable {
	cursor: pointer;
}

#ember2822 .site-dropdown-button .fa-caret-right img {
	width: 20px;
	height: 20px;
	vertical-align: middle;
}

.container .site-path {
	position: relative;
}

.container .site-path>.site-panel {
	position: absolute;
	left: 5px;
	top: 34px;
	font-family: Arial, 'Times New Roman', 'Microsoft YaHei', SimHei;
	font: bold 12px/1em Arial, 'Times New Roman', 'Microsoft YaHei',
		SimHei;
	z-index: 999;
}
.container .site-path>.site-panel{
	background: white;
}
.container .site-path>.site-panel>.site-address {
	margin-bottom: 5px;
}

.container .site-path>.site-panel>.site-address>.root {
	color: #555;
}
.container .site-path>.site-panel>.site-address>.root:hover{
	background: #dedede;
}
.container .site-path>.site-panel>.site-address>.pre-spliter {
	color: #999;
	line-height: 15px;
}

.container .site-path>.site-panel>.site-address>.path-spliter {
	color: #999;
	line-height: 15px;
}

.container .site-path>.site-panel>.site-address>.node {
	display: inline-block;
	padding: 4px 8px;
	color: #555;
}

.container .site-path>.site-panel>.site-address>.node:hover {
	background: #dedede;
	
}

.container .site-path>.site-panel>.site-region {
	display: none;
	min-height: 300px;
	min-width: 300px;
	padding-top: 10px;
	border-top:1px solid white;
}
.phen-list>.parallels{
	margin-top: 20px;
	display: none;
}
.phen-list>.parallels .m-nav .group .head h4{
	margin: auto 0;
}