<style>
<!--
.visits {
	
}

.visits>.visits-count {
	margin-bottom: 10px;
}

.visits>.visits-count>span {
	
}

.visits>.visits-count>span[label] {
	color: gray;
}

.visits>.visits-count>span[count] {
	padding-right: 15px;
}

.visits>.visits-msg {
	
}

.visits>.visits-msg>li {
	padding: 5px 0;
	padding-left: 5px;
	cursor: pointer;
}

.visits>.visits-msg>li:hover {
	background: #999;
	color: white;
}

.visits>.visits-msg>li img {
	width: 30px;
	height: 30px;
	vertical-align: middle;
	-moz-border-radius: 50%; /* Gecko browsers */
	-webkit-border-radius: 50%; /* Webkit browsers */
	border-radius: 50%; /* W3C syntax */
}

.visits>.visits-msg>li a {
	display: block;
}

.visits>.visits-msg>li a:hover {
	color: white;
}

.visits>.visits-msg>li span {
	vertical-align: middle;
	padding: 0 5px;
}
-->
</style>
<div class="visits">
	<div class="visits-count">
		<span label>共有：</span><span count>10人</span><span label>访问：</span><span
			count>100次</span>
	</div>
	<ul class="visits-msg">
		<li><a href="#" title="最后一次来访时间：2015年10月21日 10:30"><img
				alt="" src="/img/1.png"><span name>Carocean</span><span times>10次</span><span
				what><span lable>访问了</span><span target>《文章xxxx》</span></span></a></li>
		<li><a href="#" title="最后一次来访时间：2015年10月21日 10:30"><img
				alt="" src="/img/1.png"><span name>Carocean</span><span times>10次</span><span
				what><span lable>访问了</span><span target>《文章xxxx》</span></span></a></li>
		<li><a href="#" title="最后一次来访时间：2015年10月21日 10:30"><img
				alt="" src="/img/1.png"><span name>Carocean</span><span times>10次</span><span
				what><span lable>访问了</span><span target>《文章xxxx》</span></span></a></li>
	</ul>
</div>