<html>
<head>
<meta name="baidu-site-verification" content="jKnWxgQdhf">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
<meta name="renderer" content="webkit|ie-stand">
<!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
<title>连元科技科技有限公司|无人值守仓库|无人值守商店|智能售卖机|共享人才|技术培训</title>
<meta name="keywords" content="连元科技,官网,共享人才,技术培训,地理微博,机器视觉,智能商店,自动售货机,闸口机,重力传感器,java,j2ee,spring,struts2,神经网络,深度学习">
<meta name="description" content="连元科技,官网,共享人才,技术培训,地理微博,机器视觉,智能商店,自动售货机,闸口机,重力传感器,java,j2ee,spring,struts2,神经网络,深度学习">
<link href="/css/global.css" rel="stylesheet">
<link href="/css/center.css" rel="stylesheet">
<script type="text/javascript" src="/js/jquery/jquery-2.1.4.js"></script>
<script type="text/javascript" src="/js/socket.io.js"></script>
<script type="text/javascript" src="/js/popup.js"></script>
<link rel="icon"
	href="/img/favicon.ico">
<link href="/css/header.css" rel="stylesheet">
<link href="/css/footer.css" rel="stylesheet">
</head>
<body>
	<div class="main">
		<div class="header"></div>
		<div class="center wrap">
			
		</div>
		<div id="cj-popup-hidden" style="display: none;" onmouseleave="javascript:$(this).hide();"><div id="cj-popup-panel"></div></div>
	</div>
</body>
</html>