<link href="/css/parallel.css" rel="stylesheet">
<script type="text/javascript" src="/js/parallel.js"></script>
<div class="m-nav">
	<div id="crumb-hidden"><a style="display: none;"
			class="pro icon-tag J_Ajax" data-url="nav" data-key="ppath"
			data-value="20000:3675642" data-action="remove" title="点击则按此分类查询"
			href="#"><span text>品牌：水密码</span> <span class="icon-btn-x x-close" title="移除筛选">X</span>
		</a></div>
	<div class="crumb g-clearfix">
		<span class="cat-ok" title="提交按筛选的查询" ><a href="#">查询</a></span>
		<span class="cat-text">筛选条件</span> <a class="icon-btn-vbarrow">&gt;</a>
	</div>
	<div class="groups J_NavGroup">
		<div class="group">

			<div class="row J_Row row-first row-scrollbar-fix"
				id="J_NavCommonRow_0">
				<div class="head">
					<h4>

						<span class="title" title="品牌">品牌</span> ：
					</h4>
				</div>
				<div class="body">
					<div class="items items-show2line J_Items">
						<div class="items-inner g-clearfix" id="J_NavCommonRowItems_0">

							<a class="item icon-tag J_Ajax icon-hover" href="#"
								data-url="nav" data-key="ppath" data-value="20000:3284602"
								data-action="add" trace="navPropertyNew"
								trace-click="cps:yes_s;ppath:20000%3A3284602" title="千纤草"> <span
								class="icon-btn-check-small"><input type="checkbox"></span>
								<label for="" class="text">千纤草</label>

							</a> <a class="item icon-tag J_Ajax " href="#" data-url="nav"
								data-key="ppath" data-value="20000:3278173" data-action="add"
								trace="navPropertyNew"
								trace-click="cps:yes_s;ppath:20000%3A3278173" title="百雀羚"> <span
								class="icon-btn-check-small"><input type="checkbox"></span>
								<span class="text">百雀羚</span>

							</a> <a class="item icon-tag J_Ajax " href="#" data-url="nav"
								data-key="ppath" data-value="20000:37445586" data-action="add"
								trace="navPropertyNew"
								trace-click="cps:yes_s;ppath:20000%3A37445586" title="泊泉雅">
								<span class="icon-btn-check-small"><input type="checkbox"></span>
								<span class="text">泊泉雅</span>

							</a> <a class="item icon-tag J_Ajax " href="#" data-url="nav"
								data-key="ppath" data-value="20000:3675642" data-action="add"
								trace="navPropertyNew"
								trace-click="cps:yes_s;ppath:20000%3A3675642" title="水密码"> <span
								class="icon-btn-check-small"></span> <span class="text">水密码</span>

							</a> <a class="item icon-tag J_Ajax " href="#" data-url="nav"
								data-key="ppath" data-value="20000:66927" data-action="add"
								trace="navPropertyNew"
								trace-click="cps:yes_s;ppath:20000%3A66927" title="自然堂"> <span
								class="icon-btn-check-small"></span> <span class="text">自然堂</span>

							</a> <a class="item icon-tag J_Ajax " href="#" data-url="nav"
								data-key="ppath" data-value="20000:3319325" data-action="add"
								trace="navPropertyNew"
								trace-click="cps:yes_s;ppath:20000%3A3319325" title="温碧泉"> <span
								class="icon-btn-check-small"></span> <span class="text">温碧泉</span>

							</a> <a class="item icon-tag J_Ajax " href="#" data-url="nav"
								data-key="ppath" data-value="20000:20086" data-action="add"
								trace="navPropertyNew"
								trace-click="cps:yes_s;ppath:20000%3A20086" title="娥佩兰"> <span
								class="icon-btn-check-small"></span> <span class="text">娥佩兰</span>

							</a> <a class="item icon-tag J_Ajax " href="#" data-url="nav"
								data-key="ppath" data-value="20000:182588018" data-action="add"
								trace="navPropertyNew"
								trace-click="cps:yes_s;ppath:20000%3A182588018"
								title="Eau precieuse"> <span class="icon-btn-check-small"></span>


								<span class="text">Eau precieuse</span>

							</a> <a class="item icon-tag J_Ajax " href="#" data-url="nav"
								data-key="ppath" data-value="20000:78888695" data-action="add"
								trace="navPropertyNew"
								trace-click="cps:yes_s;ppath:20000%3A78888695" title="韩后"> <span
								class="icon-btn-check-small"></span> <span class="text">韩后</span>

							</a> <a class="item icon-tag J_Ajax " href="#" data-url="nav"
								data-key="ppath" data-value="20000:59732" data-action="add"
								trace="navPropertyNew"
								trace-click="cps:yes_s;ppath:20000%3A59732" title="相宜本草"> <span
								class="icon-btn-check-small"></span> <span class="text">相宜本草</span>

							</a> <a class="item icon-tag J_Ajax " href="#" data-url="nav"
								data-key="ppath" data-value="20000:3284940" data-action="add"
								trace="navPropertyNew"
								trace-click="cps:yes_s;ppath:20000%3A3284940" title="巨型一号">
								<span class="icon-btn-check-small"></span> <span class="text">巨型一号</span>

							</a> <a class="item icon-tag J_Ajax " href="#" data-url="nav"
								data-key="ppath" data-value="20000:20076" data-action="add"
								trace="navPropertyNew"
								trace-click="cps:yes_s;ppath:20000%3A20076" title="曼秀雷敦"> <span
								class="icon-btn-check-small"></span> <span class="text">曼秀雷敦</span>

							</a> <a class="item icon-tag J_Ajax " href="#" data-url="nav"
								data-key="ppath" data-value="20000:20068" data-action="add"
								trace="navPropertyNew"
								trace-click="cps:yes_s;ppath:20000%3A20068" title="欧莱雅"> <span
								class="icon-btn-check-small"></span> <span class="text">欧莱雅</span>

							</a> <a class="item icon-tag J_Ajax " href="#" data-url="nav"
								data-key="ppath" data-value="20000:3651928" data-action="add"
								trace="navPropertyNew"
								trace-click="cps:yes_s;ppath:20000%3A3651928" title="莱蔻"> <span
								class="icon-btn-check-small"></span> <span class="text">莱蔻</span>

							</a> <a class="item icon-tag J_Ajax " href="#" data-url="nav"
								data-key="ppath" data-value="20000:20081" data-action="add"
								trace="navPropertyNew"
								trace-click="cps:yes_s;ppath:20000%3A20081" title="妮维雅"> <span
								class="icon-btn-check-small"></span> <span class="text">妮维雅</span>

							</a> <a class="item icon-tag J_Ajax " href="#" data-url="nav"
								data-key="ppath" data-value="20000:3284540" data-action="add"
								trace="navPropertyNew"
								trace-click="cps:yes_s;ppath:20000%3A3284540" title="韩’伊"> <span
								class="icon-btn-check-small"></span> <span class="text">韩’伊</span>

							</a> <a class="item icon-tag J_Ajax " href="#" data-url="nav"
								data-key="ppath" data-value="20000:20085" data-action="add"
								trace="navPropertyNew"
								trace-click="cps:yes_s;ppath:20000%3A20085" title="玉兰油"> <span
								class="icon-btn-check-small"></span> <span class="text">玉兰油</span>

							</a> <a class="item icon-tag J_Ajax " href="#" data-url="nav"
								data-key="ppath" data-value="20000:20067" data-action="add"
								trace="navPropertyNew"
								trace-click="cps:yes_s;ppath:20000%3A20067" title="兰蔻"> <span
								class="icon-btn-check-small"></span> <span class="text">兰蔻</span>

							</a> <a class="item icon-tag J_Ajax " href="#" data-url="nav"
								data-key="ppath" data-value="20000:3284955" data-action="add"
								trace="navPropertyNew"
								trace-click="cps:yes_s;ppath:20000%3A3284955" title="美肤宝"> <span
								class="icon-btn-check-small"></span> <span class="text">美肤宝</span>

							</a> <a class="item icon-tag J_Ajax " href="#" data-url="nav"
								data-key="ppath" data-value="20000:20096" data-action="add"
								trace="navPropertyNew"
								trace-click="cps:yes_s;ppath:20000%3A20096" title="资生堂"> <span
								class="icon-btn-check-small"></span> <span class="text">资生堂</span>

							</a> <a class="item icon-tag J_Ajax " href="#" data-url="nav"
								data-key="ppath" data-value="20000:20062" data-action="add"
								trace="navPropertyNew"
								trace-click="cps:yes_s;ppath:20000%3A20062" title="科颜氏"> <span
								class="icon-btn-check-small"></span> <span class="text">科颜氏</span>

							</a> <a class="item icon-tag J_Ajax " href="#" data-url="nav"
								data-key="ppath" data-value="20000:20016" data-action="add"
								trace="navPropertyNew"
								trace-click="cps:yes_s;ppath:20000%3A20016" title="佰草集"> <span
								class="icon-btn-check-small"></span> <span class="text">佰草集</span>

							</a> <a class="item icon-tag J_Ajax " href="#" data-url="nav"
								data-key="ppath" data-value="20000:152315374" data-action="add"
								trace="navPropertyNew"
								trace-click="cps:yes_s;ppath:20000%3A152315374"
								title="Esthe Dew"> <span class="icon-btn-check-small"></span>
								<span class="text">Esthe Dew</span>

							</a> <a class="item icon-tag J_Ajax " href="#" data-url="nav"
								data-key="ppath" data-value="20000:20069" data-action="add"
								trace="navPropertyNew"
								trace-click="cps:yes_s;ppath:20000%3A20069" title="理肤泉"> <span
								class="icon-btn-check-small"></span> <span class="text">理肤泉</span>

							</a> <a class="item icon-tag J_Ajax " href="#" data-url="nav"
								data-key="ppath" data-value="20000:56625923" data-action="add"
								trace="navPropertyNew"
								trace-click="cps:yes_s;ppath:20000%3A56625923"
								title="Naturie imju"> <span class="icon-btn-check-small"></span>


								<span class="text">Naturie imju</span>

							</a> <a class="item icon-tag J_Ajax " href="#" data-url="nav"
								data-key="ppath" data-value="20000:20074" data-action="add"
								trace="navPropertyNew"
								trace-click="cps:yes_s;ppath:20000%3A20074" title="玫琳凯"> <span
								class="icon-btn-check-small"></span> <span class="text">玫琳凯</span>

							</a> <a class="item icon-tag J_Ajax " href="#" data-url="nav"
								data-key="ppath" data-value="20000:66932" data-action="add"
								trace="navPropertyNew"
								trace-click="cps:yes_s;ppath:20000%3A66932" title="大宝"> <span
								class="icon-btn-check-small"></span> <span class="text">大宝</span>

							</a>

						</div>
					</div>

					<div class="btns">
						<span class="submit J_SubmitMulti">提交</span> <span
							class="cancel J_CloseMulti">取消</span>
					</div>

				</div>
				<div class="foot">

					<span class="switch-multi J_OpenMulti">多选</span> <span
						class="show-more J_ToggleItems">更多<span
						class="icon-btn-arrow-down-2"></span></span> <span
						class="show-less J_ToggleItems">收起<span
						class="icon-btn-arrow-up-2"></span></span>
				</div>
			</div>

			<div class="row J_Row " id="J_NavCommonRow_1">
				<div class="head">
					<h4>

						<span class="title" title="选购热点">选购热点</span> ：
					</h4>
				</div>
				<div class="body">
					<div class="items J_Items">
						<div class="items-inner g-clearfix" id="J_NavCommonRowItems_1">

							<a class="item icon-tag J_Ajax " href="#" data-url="nav"
								data-key="ppath" data-value="413:800001195" data-action="add"
								trace="navPropertyNew"
								trace-click="cps:yes_s;ppath:413%3A800001195" title="补水保湿">
								<span class="icon-btn-check-small"></span> <span class="text">补水保湿</span>

							</a> <a class="item icon-tag J_Ajax " href="#" data-url="nav"
								data-key="ppath" data-value="413:800001148" data-action="add"
								trace="navPropertyNew"
								trace-click="cps:yes_s;ppath:413%3A800001148" title="控油"> <span
								class="icon-btn-check-small"></span> <span class="text">控油</span>

							</a> <a class="item icon-tag J_Ajax " href="#" data-url="nav"
								data-key="ppath" data-value="413:800001159" data-action="add"
								trace="navPropertyNew"
								trace-click="cps:yes_s;ppath:413%3A800001159" title="收缩毛孔">
								<span class="icon-btn-check-small"></span> <span class="text">收缩毛孔</span>

							</a> <a class="item icon-tag J_Ajax " href="#" data-url="nav"
								data-key="ppath" data-value="413:800001097" data-action="add"
								trace="navPropertyNew"
								trace-click="cps:yes_s;ppath:413%3A800001097" title="喷雾"> <span
								class="icon-btn-check-small"></span> <span class="text">喷雾</span>

							</a> <a class="item icon-tag J_Ajax " href="#" data-url="nav"
								data-key="ppath" data-value="413:800001102" data-action="add"
								trace="navPropertyNew"
								trace-click="cps:yes_s;ppath:413%3A800001102" title="滋润"> <span
								class="icon-btn-check-small"></span> <span class="text">滋润</span>

							</a> <a class="item icon-tag J_Ajax " href="#" data-url="nav"
								data-key="ppath" data-value="413:800001055" data-action="add"
								trace="navPropertyNew"
								trace-click="cps:yes_s;ppath:413%3A800001055" title="去黄气"> <span
								class="icon-btn-check-small"></span> <span class="text">去黄气</span>

							</a> <a class="item icon-tag J_Ajax " href="#" data-url="nav"
								data-key="ppath" data-value="413:800001194" data-action="add"
								trace="navPropertyNew"
								trace-click="cps:yes_s;ppath:413%3A800001194" title="美白"> <span
								class="icon-btn-check-small"></span> <span class="text">美白</span>

							</a> <a class="item icon-tag J_Ajax " href="#" data-url="nav"
								data-key="ppath" data-value="413:800001071" data-action="add"
								trace="navPropertyNew"
								trace-click="cps:yes_s;ppath:413%3A800001071" title="芦荟胶"> <span
								class="icon-btn-check-small"></span> <span class="text">芦荟胶</span>

							</a> <a class="item icon-tag J_Ajax " href="#" data-url="nav"
								data-key="ppath" data-value="413:800001141" data-action="add"
								trace="navPropertyNew"
								trace-click="cps:yes_s;ppath:413%3A800001141" title="国货精品">
								<span class="icon-btn-check-small"></span> <span class="text">国货精品</span>

							</a> <a class="item icon-tag J_Ajax " href="#" data-url="nav"
								data-key="ppath" data-value="413:800001170" data-action="add"
								trace="navPropertyNew"
								trace-click="cps:yes_s;ppath:413%3A800001170" title="护肤"> <span
								class="icon-btn-check-small"></span> <span class="text">护肤</span>

							</a> <a class="item icon-tag J_Ajax " href="#" data-url="nav"
								data-key="ppath" data-value="413:800001172" data-action="add"
								trace="navPropertyNew"
								trace-click="cps:yes_s;ppath:413%3A800001172" title="皮肤紧致">
								<span class="icon-btn-check-small"></span> <span class="text">皮肤紧致</span>

							</a> <a class="item icon-tag J_Ajax " href="#" data-url="nav"
								data-key="ppath" data-value="413:800001181" data-action="add"
								trace="navPropertyNew"
								trace-click="cps:yes_s;ppath:413%3A800001181" title="敏感肌"> <span
								class="icon-btn-check-small"></span> <span class="text">敏感肌</span>

							</a> <a class="item icon-tag J_Ajax " href="#" data-url="nav"
								data-key="ppath" data-value="413:800001124" data-action="add"
								trace="navPropertyNew"
								trace-click="cps:yes_s;ppath:413%3A800001124" title="白富美最爱">

								<span class="icon-btn-check-small"></span> <span class="text">白富美最爱</span>

							</a> <a class="item icon-tag J_Ajax " href="#" data-url="nav"
								data-key="ppath" data-value="413:800001041" data-action="add"
								trace="navPropertyNew"
								trace-click="cps:yes_s;ppath:413%3A800001041" title="日本最流行">

								<span class="icon-btn-check-small"></span> <span class="text">日本最流行</span>

							</a> <a class="item icon-tag J_Ajax " href="#" data-url="nav"
								data-key="ppath" data-value="413:800001205" data-action="add"
								trace="navPropertyNew"
								trace-click="cps:yes_s;ppath:413%3A800001205" title="水杨酸"> <span
								class="icon-btn-check-small"></span> <span class="text">水杨酸</span>

							</a> <a class="item icon-tag J_Ajax " href="#" data-url="nav"
								data-key="ppath" data-value="413:800001061" data-action="add"
								trace="navPropertyNew"
								trace-click="cps:yes_s;ppath:413%3A800001061" title="植物系"> <span
								class="icon-btn-check-small"></span> <span class="text">植物系</span>

							</a> <a class="item icon-tag J_Ajax " href="#" data-url="nav"
								data-key="ppath" data-value="413:800001048" data-action="add"
								trace="navPropertyNew"
								trace-click="cps:yes_s;ppath:413%3A800001048" title="玻尿酸"> <span
								class="icon-btn-check-small"></span> <span class="text">玻尿酸</span>

							</a> <a class="item icon-tag J_Ajax " href="#" data-url="nav"
								data-key="ppath" data-value="413:800001155" data-action="add"
								trace="navPropertyNew"
								trace-click="cps:yes_s;ppath:413%3A800001155" title="药妆"> <span
								class="icon-btn-check-small"></span> <span class="text">药妆</span>

							</a> <a class="item icon-tag J_Ajax " href="#" data-url="nav"
								data-key="ppath" data-value="413:800001150" data-action="add"
								trace="navPropertyNew"
								trace-click="cps:yes_s;ppath:413%3A800001150" title="去细纹"> <span
								class="icon-btn-check-small"></span> <span class="text">去细纹</span>

							</a> <a class="item icon-tag J_Ajax " href="#" data-url="nav"
								data-key="ppath" data-value="413:800001157" data-action="add"
								trace="navPropertyNew"
								trace-click="cps:yes_s;ppath:413%3A800001157" title="去黑头"> <span
								class="icon-btn-check-small"></span> <span class="text">去黑头</span>

							</a>

						</div>
					</div>

					<div class="btns">
						<span class="submit J_SubmitMulti">提交</span> <span
							class="cancel J_CloseMulti">取消</span>
					</div>

				</div>
				<div class="foot">

					<span class="switch-multi J_OpenMulti">多选</span> <span
						class="show-more J_ToggleItems">更多<span
						class="icon-btn-arrow-down-2"></span></span> <span
						class="show-less J_ToggleItems">收起<span
						class="icon-btn-arrow-up-2"></span></span>
				</div>
			</div>

			<div class="row J_Row " id="J_NavCommonRow_2">
				<div class="head">
					<h4>

						<span class="title" title="适合肤质">适合肤质</span> ：
					</h4>
				</div>
				<div class="body">
					<div class="items J_Items">
						<div class="items-inner g-clearfix" id="J_NavCommonRowItems_2">

							<a class="item icon-tag J_Ajax " href="#" data-url="nav"
								data-key="ppath" data-value="3364156:3510571" data-action="add"
								trace="navPropertyNew"
								trace-click="cps:yes_s;ppath:3364156%3A3510571" title="任何肤质">

								<span class="icon-btn-check-small"></span> <span class="text">任何肤质</span>

							</a> <a class="item icon-tag J_Ajax " href="#" data-url="nav"
								data-key="ppath" data-value="3364156:77119814" data-action="add"
								trace="navPropertyNew"
								trace-click="cps:yes_s;ppath:3364156%3A77119814" title="中性及干性肤质">

								<span class="icon-btn-check-small"></span> <span class="text">中性及干性肤质</span>

							</a> <a class="item icon-tag J_Ajax " href="#" data-url="nav"
								data-key="ppath" data-value="3364156:77119681" data-action="add"
								trace="navPropertyNew"
								trace-click="cps:yes_s;ppath:3364156%3A77119681"
								title="油性及混合性肤质"> <span class="icon-btn-check-small"></span>
								<span class="text">油性及混合性肤质</span>

							</a> <a class="item icon-tag J_Ajax " href="#" data-url="nav"
								data-key="ppath" data-value="3364156:7094311" data-action="add"
								trace="navPropertyNew"
								trace-click="cps:yes_s;ppath:3364156%3A7094311" title="干性肤质">

								<span class="icon-btn-check-small"></span> <span class="text">干性肤质</span>

							</a> <a class="item icon-tag J_Ajax " href="#" data-url="nav"
								data-key="ppath" data-value="3364156:4454590" data-action="add"
								trace="navPropertyNew"
								trace-click="cps:yes_s;ppath:3364156%3A4454590" title="油性肤质">

								<span class="icon-btn-check-small"></span> <span class="text">油性肤质</span>

							</a> <a class="item icon-tag J_Ajax " href="#" data-url="nav"
								data-key="ppath" data-value="3364156:7093285" data-action="add"
								trace="navPropertyNew"
								trace-click="cps:yes_s;ppath:3364156%3A7093285" title="中性肤质">

								<span class="icon-btn-check-small"></span> <span class="text">中性肤质</span>

							</a> <a class="item icon-tag J_Ajax " href="#" data-url="nav"
								data-key="ppath" data-value="3364156:373046136"
								data-action="add" trace="navPropertyNew"
								trace-click="cps:yes_s;ppath:3364156%3A373046136"
								title="干性及混合性肤质"> <span class="icon-btn-check-small"></span>


								<span class="text">干性及混合性肤质</span>

							</a> <a class="item icon-tag J_Ajax " href="#" data-url="nav"
								data-key="ppath" data-value="3364156:5410644" data-action="add"
								trace="navPropertyNew"
								trace-click="cps:yes_s;ppath:3364156%3A5410644" title="任何肌肤">

								<span class="icon-btn-check-small"></span> <span class="text">任何肌肤</span>

							</a> <a class="item icon-tag J_Ajax " href="#" data-url="nav"
								data-key="ppath" data-value="3364156:6114866" data-action="add"
								trace="navPropertyNew"
								trace-click="cps:yes_s;ppath:3364156%3A6114866" title="敏感性肤质">

								<span class="icon-btn-check-small"></span> <span class="text">敏感性肤质</span>

							</a> <a class="item icon-tag J_Ajax " href="#" data-url="nav"
								data-key="ppath" data-value="3364156:31440827" data-action="add"
								trace="navPropertyNew"
								trace-click="cps:yes_s;ppath:3364156%3A31440827" title="混合型肤质">

								<span class="icon-btn-check-small"></span> <span class="text">混合型肤质</span>

							</a> <a class="item icon-tag J_Ajax " href="#" data-url="nav"
								data-key="ppath" data-value="3364156:1374358857"
								data-action="add" trace="navPropertyNew"
								trace-click="cps:yes_s;ppath:3364156%3A1374358857"
								title="干燥、缺水性肌肤"> <span class="icon-btn-check-small"></span>


								<span class="text">干燥、缺水性肌肤</span>

							</a> <a class="item icon-tag J_Ajax " href="#" data-url="nav"
								data-key="ppath" data-value="3364156:292934126"
								data-action="add" trace="navPropertyNew"
								trace-click="cps:yes_s;ppath:3364156%3A292934126"
								title="中性、油性肤质"> <span class="icon-btn-check-small"></span>
								<span class="text">中性、油性肤质</span>

							</a>

						</div>
					</div>

					<div class="btns">
						<span class="submit J_SubmitMulti">提交</span> <span
							class="cancel J_CloseMulti">取消</span>
					</div>

				</div>
				<div class="foot">

					<span class="switch-multi J_OpenMulti">多选</span> <span
						class="show-more J_ToggleItems">更多<span
						class="icon-btn-arrow-down-2"></span></span> <span
						class="show-less J_ToggleItems">收起<span
						class="icon-btn-arrow-up-2"></span></span>
				</div>
			</div>

			<div class="row J_Row hide-toggle" id="J_NavCommonRow_3">
				<div class="head">
					<h4>
						<span class="title" title="选购热点">美容护肤/美体/精油</span>：
					</h4>
				</div>
				<div class="body">
					<div class="items J_Items">
						<div class="items-inner g-clearfix" id="J_NavCommonRowItems_3">

							<a class="item icon-tag J_Ajax " href="#" data-url="nav"
								data-key="cat" data-value="50011978" data-action="add"
								trace="navPropertyNew" trace-click="cps:yes_s" title="化妆水/爽肤水">


								<span class="text">化妆水/爽肤水</span>

							</a> <a class="item icon-tag J_Ajax " href="#" data-url="nav"
								data-key="cat" data-value="50076501" data-action="add"
								trace="navPropertyNew" trace-click="cps:yes_s" title="男士爽肤水">


								<span class="text">男士爽肤水</span>

							</a> <a class="item icon-tag J_Ajax " href="#" data-url="nav"
								data-key="cat" data-value="50011993" data-action="add"
								trace="navPropertyNew" trace-click="cps:yes_s" title="面部护理套装">


								<span class="text">面部护理套装</span>

							</a> <a class="item icon-tag J_Ajax " href="#" data-url="nav"
								data-key="cat" data-value="53986058" data-action="add"
								trace="navPropertyNew" trace-click="cps:yes_s" title="男士护理套装">


								<span class="text">男士护理套装</span>

							</a> <a class="item icon-tag J_Ajax " href="#" data-url="nav"
								data-key="cat" data-value="50011979" data-action="add"
								trace="navPropertyNew" trace-click="cps:yes_s" title="面部精华">


								<span class="text">面部精华</span>

							</a> <a class="item icon-tag J_Ajax " href="#" data-url="nav"
								data-key="cat" data-value="50011990" data-action="add"
								trace="navPropertyNew" trace-click="cps:yes_s" title="卸妆"> <span
								class="text">卸妆</span>

							</a> <a class="item icon-tag J_Ajax " href="#" data-url="nav"
								data-key="cat" data-value="50011980" data-action="add"
								trace="navPropertyNew" trace-click="cps:yes_s" title="乳液/面霜">


								<span class="text">乳液/面霜</span>

							</a>

						</div>
					</div>

				</div>
				<div class="foot">



					<span class="show-more J_ToggleItems">更多<span
						class="icon-btn-arrow-down-2"></span></span> <span
						class="show-less J_ToggleItems">收起<span
						class="icon-btn-arrow-up-2"></span></span>
				</div>
			</div>

			<div class="row J_Row hide-toggle" id="J_NavCommonRow_4">
				<div class="head">
					<h4>

						<span class="title" title="相关分类">相关分类</span> ：
					</h4>
				</div>
				<div class="body">
					<div class="items J_Items">
						<div class="items-inner g-clearfix" id="J_NavCommonRowItems_4">

							<a class="item icon-tag J_Ajax " href="#" data-url="nav"
								data-key="cat" data-value="50010788" data-action="add"
								trace="navPropertyNew" trace-click="cps:yes_y"
								title="彩妆/香水/美妆工具"> <span class="text">彩妆/香水/美妆工具</span>

							</a> <a class="item icon-tag J_Ajax " href="#" data-url="nav"
								data-key="cat" data-value="50071436" data-action="add"
								trace="navPropertyNew" trace-click="cps:yes_y" title="美发护发/假发">


								<span class="text">美发护发/假发</span>

							</a>

						</div>
					</div>

				</div>
				<div class="foot">
					<span class="show-more J_ToggleItems">更多<span
						class="icon-btn-arrow-down-2"></span></span> <span
						class="show-less J_ToggleItems">收起<span
						class="icon-btn-arrow-up-2"></span></span>
				</div>
			</div>
		</div>
	</div>
</div>